.container{
    width: 600px;
    margin: 100px auto;
}

.board{
    position: absolute;
    background-color: #4D4D4D;
}

.gamerow{
    height: 100px;
}

.gamerow::after{
    content: "";
    display: block;
    clear: both;
}

.gamesquare{
    float:left;
    margin-right: 15px;
}